<!DOCTYPE html>
<html lang="en">
<head>
    <title>Telegraphy</title>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/screen.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">Telegraphy</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="/accounts" class="">Manage Accounts</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="well">
            <h3>For Physical Email</h3>
            <p>Hook up your email accounts to <b>Telegraphy</b> then sit back and watch up to the minute notifications flash before your eyes.</p>
            <p>
                <form  action="/notify" method="GET" class="form-inline">
                    <input type="text" placeholder="New email received" name="msg" class="input-medium">
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
            </p>
        </div>

        <div class="footer">
            <a class="btn" href="https://github.com/ricallinson/telegraphy">Get the source</a>
        </div>
    </div>
</body>