<!DOCTYPE html>
<html lang="en">
<head>
    <title>Telegraphy</title>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/screen.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">Telegraphy</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="/check" class="">Check Accounts</a></li>
                        <li><a href="/notify">Trigger Notifier</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="well">
            <h3>For Physical Email</h3>
            <p>Hook up your email accounts to <b>Telegraphy</b> then sit back and watch up to the minute notifications flash before your eyes. Using the magic of morse code new emails announce themselves with a flurry dot and dashes without the need of a troublesome computing device.</p>
            <br>
            <p>
                <a href="/notify" class="btn btn-primary">Trigger the notifier now</a>
            </p>
        </div>

        <div>
            <h2>Accounts</h2>
            {{#accounts}}
            <div class="account">
                <form class="form-horizontal" action="/save" method="post">
                    <div class="control-group">
                        <label class="control-label">Username</label>
                        <div class="controls">
                            <div class="input-prepend">
                                <span class="add-on"><i class="icon-envelope"></i></span>
                                <input type="text" name="username" value="{{username}}"{{#if username}} disabled="disabled"{{/if}} placeholder="name@gmail.com">
                                {{#if username}}
                                <input type="hidden" name="username" value="{{username}}">
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Password</label>
                        <div class="controls">
                            <div class="input-prepend">
                                <span class="add-on"><i class="icon-certificate"></i></span>
                                <input type="password" name="password" value="{{password}}">
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Host</label>
                        <div class="controls">
                            <div class="input-prepend">
                                <span class="add-on"><i class="icon-globe"></i></span>
                                <input type="text" name="host" value="{{host}}" placeholder="imap.gmail.com">
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Port</label>
                        <div class="controls">
                            <div class="input-prepend">
                                <span class="add-on"><i class="icon-filter"></i></span>
                                <input type="text" name="port" value="{{port}}">
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Secure</label>
                        <div class="controls">
                            <label class="radio inline">
                                <input type="radio" name="secure" value="true" {{#if secure}}checked{{/if}}>
                                Yes
                            </label>
                            <label class="radio inline">
                                <input type="radio" name="secure" value="false" {{#unless secure}}checked{{/unless}}>
                                No
                            </label>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            {{#if username}}
                            <input class="btn btn-danger" type="submit" name="action" value="Delete">
                            {{/if}}
                            <input class="btn btn-primary" type="submit" name="action" value="Save">
                        </div>
                    </div>
                </form>
            </div>
            {{/accounts}}
        </div>

        <div class="footer">
            <a class="btn" href="https://github.com/ricallinson/telegraphy">Get the source</a>
        </div>
    </div>
</body>